.list {
  width: 320px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
  text-transform: uppercase;
}
.list__item{
  border: 1px solid #000;
  border-radius: 25px;
  background-color: #f0f0f0;
}

@media (min-width: 1280px) {
  
  .list {
    grid-template-columns: repeat(6, max-content);
    grid-column-gap: 15px;
    text-transform: uppercase;
    /* justify-content: center; */
  }
  .nav:hover{
    color: blue;
  }
	
.list__item{
  border: none;
  background-color: transparent;
  border-radius: 0;
}
	
}