
  body{
  background-image: url('../img/hand-painted-watercolor-background-with-sky-clouds-shape.jpg');
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  }
@media (min-width: 1280px){
  body{
    background-image: url('../img/hand-painted-watercolor-background-with-sky-clouds-shape.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
}