* {
	margin: 0;
}
.gallary__modal {
	position: fixed;
	width: 1280px;
	height: 100vh;
	background-color: rgba(75, 75, 72, 0.795);
}
.wrap__img {
	position: absolute;
	margin: 0 auto;
	width: 70%;
	height: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.wrap__img img {
	width: 100%;
	display: block;
	height: auto;
}
