* {
	margin: 0;
}
.wrapper {
	width: 1280px;
}
.title {
	font-size: 36px;
	text-transform: uppercase;
}
.wrapper__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 20px;
}
.card {
	/* width: 400px; */
	/* height: 400px; */
	/* background-color: cadetblue; */
}
img {
	display: block;
	overflow: hidden;
	width: 100%;
}
