.contact {
	margin: 0 auto;
	width: 320px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
}
.contactMap {
	width: 1280px;
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-top: 50px;
}
.contact__picture {
	display: none;
}
.phones,
.emails,
.address,
.web {
	display: grid;
	grid-template-columns: 103px 1fr;
	/* grid-template-rows: 1fr ; */
	grid-column-gap: 5px;
	font-family: 'PFDinTextPro';
	font-size: 16px;
}
.address_text {
	font-family: 'PFDinTextPro';
	font-size: 16px;
	grid-row: 1/3;
	align-self: center;
}
.phones::before,
.emails::before,
.address::before,
.web::before {
	grid-column: 1/2;
	grid-row: 1/3;
	content: '';
	display: block;
	width: 90px;
	height: 90px;
}
.phones::before {
	background-image: url(./contacts/phone.png);
}
.emails::before {
	background-image: url(./contacts/letter.png);
}
.address::before {
	background-image: url(./contacts/icon.png);
}
.web::before {
	background-image: url(./contacts/5_contacts_page.png);
}
.phones__mobile,
.phones__works,
.emails__info,
.emails__employer,
.address_text,
.web_text {
	align-self: center;
}
/* ////////////////////1280px////////////////// */
.contactMap {
	width: 1280px;
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-top: 50px;
}
.contact {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 1280px;
	margin: 50px auto 0;
}
.contact__picture {
	display: block;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 5;
}
.phones,
.emails,
.address,
.address_text,
.web {
	font-size: 32px;
	grid-column-gap: 30px;
}
